.app-wrapper {
  display: grid;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 11fr;
  grid-gap: 10px;
  height: 100vh;
}

.app-wrapper-content {
  height: calc(100vh - 70px);
  overflow-x: hidden;
  grid-area: c;
  background: whitesmoke;

}
