.nav {
    padding: 20px;
    background: var(--surface);
    color: var(--on-surface);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item {
    padding-bottom: 20px;
}

.item a.activeLink {
    border-bottom: 3px solid white;
    font-weight: 500;
    color: var(--on-surface);
}

.link {
    color: #cccccc;
    text-decoration: none;
    font-size: 20px;
}