.nav {
    padding: 20px;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item {
    padding-bottom: 20px;
}

.item a.activeLink {
    border-bottom: 3px solid white;
    font-weight: 500;
    color: white;
}

.link {
    color: #cccccc;
    text-decoration: none;
    font-size: 20px;
}